<div class="section_search">
    <div class="logo">
        <a href="https://pixabay.com/">
            <img src="https://pixabay.com/static/img/public/medium_rectangle_a.png"
            alt="Pixabay"  height="64">
        </a>
    </div>
    <form class="search-form" id="search-form">
        <input type="text" name="query" class="input" autocomplete="off" placeholder="Search images..." />
        <button type="submit" class="btn btn-submit">Search</button>
    </form>
</div>
<ul class="gallery">

</ul>

<button type="submit" class="btn btn-more visually-hidden">Load more</button>
<div class="scroll-control"></div>